.create-deck-button {
    color: #F3CB70;
}


.create-deck-form-container {
    display: flex;
    width: 350px;
    height: 250px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #F3CB70;
    border-radius: 10px;
}

.create-deck-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-deck-form label {
    margin-bottom: 10px;
}
.create-deck-form input {
    margin-bottom: 10px;
    height: 40px;
    border: 1px solid #25100B;
    border-radius: 5px;
    color: #25100B;
    font-size: 16px;
    font-family: 'Gyre Bonum';
}

.create-deck-form button {
    width: 211px;
    height: 30px;
    background-color: #25100B;
    color: #F3CB70;
    border-radius: 5px;
    font-family: 'Gyre Bonum';
    font-weight: bold;
    cursor: pointer;
}
