/* TODO Add site wide styles */
@font-face {
    font-family: "Cloister Black";
    src: url('./fonts/CloisterBlack.ttf')
}

@font-face {
    font-family: "Gothic G Regular";
    src: url('./fonts/GothicG-Regular.ttf');
}

@font-face {
    font-family: "Gyre Bonum";
    src: url('./fonts/TexgyrebonumRegular-87LB.otf');
}

body {
    margin: 0px;
    /* background-repeat: no-repeat; */
    font-family: "Gyre Bonum";
}
