.remove-card-button {
    margin-top: 25px;
    transition: transform .5s;
}

.remove-card-button:hover {
    transform: translateY(-30px);
    transform: scale(1.06);
}

.remove-card-container {
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #F3CB70;
    border-radius: 10px;
}

.remove-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}
