.create-spellcard-button {
    color: #F3CB70;
}

.create-spellcard-container {
    background-color: #68040B;
    border-radius: 10px;
    box-shadow: inset 0px 0px 15px 15px #F3CB70, 0px 15px 10px rgba(0,0,0,0.7);
}

.create-spellcard-form {
    width: 850px;
    height: 585px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    color: #F3CB70;
}

.card-preview-title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.create-spellcard-back {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 375px;
    max-height: 500px;
    /* max-height: 400px; */
    flex-direction: column;
    justify-content:space-between;
    /* overflow-y: scroll; */
}

.create-spellcard-back > input {
    height: 30px;
    border-radius: 5px;
    border: 1px solid #25100B;
    margin-bottom: 10px;
    color: #25100B;
    font-size: 16px;
    font-family: 'Gyre Bonum';
}

.create-spellcard-back select {
    height: 30px;
    border-radius: 5px;
    border: 1px solid #25100B;
    margin-bottom: 10px;
    color: #25100B;
    font-size: 16px;
    font-family: 'Gyre Bonum';
}

.create-spellcard-back textarea {
    resize: none;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #25100B;
    margin-bottom: 10px;
    color: #25100B;
    font-size: 14px;
    font-family: 'Gyre Bonum';
}

.create-spellcard-back button {
    height: 30px;
    background-color: #25100B;
    color: #F3CB70;
    border-radius: 5px;
    font-family: 'Gyre Bonum';
    font-weight: bold;
    cursor: pointer;
}

.spellcard-back-title {
    display: flex;
    justify-content: center;
}

.spellcard-back-title > div {
    font-size: 25px;
    font-weight: bold;
}

.components-container {
    display: flex;
    justify-content: space-evenly;
}

.create-category {
    font-weight: bold;
}

.ritual-concentration-container {
    display: flex;
    justify-content: space-evenly;
}

.class-selector-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.class-selector-options {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.create-spell-submit-button {
    position: sticky;
}
