.profile-cards-display {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    min-height: 100vw;
    background-image: url("https://img.freepik.com/premium-photo/old-brown-wood-background-made-dark-natural-wood-grunge-style-natural-raw-planed-texture-pine-surface-table-shoot-flat-lay-copy-space_113111-280.jpg?w=2000");
    background-size: contain;
}

.profile-cards-display > h1 {
    font-size: 100px;
    margin-bottom: 0px;
    margin-top: 20px;
    color: #25100B;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 3px 3px rgba(0,0,0,0.7);
    font-family: "Cloister Black";
}

.profile-cards-container {
    width: 65%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
