.profile-cards-display {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    min-height: 100vw;
    background-image: url("https://img.freepik.com/premium-photo/old-brown-wood-background-made-dark-natural-wood-grunge-style-natural-raw-planed-texture-pine-surface-table-shoot-flat-lay-copy-space_113111-280.jpg?w=2000");
    background-size: contain;
}

.profile-cards-display > h1 {
    font-size: 100px;
    margin-bottom: 30px;
    margin-top: 20px;
    color: #F3CB70;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 3px 3px rgba(0,0,0,0.7);
    font-family: "Cloister Black";
}

.profile-cards-container {
    width: 65%;
    display: flex;
    padding: 20px;
    margin-bottom: 40px;
    justify-content: space-evenly;
    background-color: #68040B ;
    border-radius: 20px;
    flex-wrap: wrap;
    box-shadow: inset 0px 0px 15px 15px #F3CB70, 0px 15px 10px rgba(0,0,0,0.7);
    /* box-shadow: 0px 15px 10px rgba(0,0,0,0.7); */
    border: 1px solid #F3CB70;
}

.spellcard-container {
    display: flex;
    flex-direction: column;
}

.spellcard-options {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
