.add-card-form {
    width: 100%;
    margin-bottom: 20px;
}

.add-card-select {
    margin-bottom: 10px;
}

.add-card-errors {
    margin-bottom: 10px;
}

.select-card-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.select-submit-button {
    width: 120px;
    height: 40px;
    font-size: 16px;
    background-color: #EF611B;
    font-family: 'Gyre Bonum';
    border-radius: 5px;
    border: none;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.5);
    cursor: pointer;
    /* color: #F3CB70; */
}

.select-submit-button:active {
    background-color: #d75a1c;
}
